*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter", sans-serif;
    background-color: var(--background-color);
}

/* comon design  */

.max-width{
    max-width: 1600px;
    margin: 0 auto;
}
.second-max-width{
    max-width: 1200px;
    margin: 0 auto;
}
.display-flix{
    display: flex;
}

.display-grid{
    display: grid;
}

.center_contant{
    justify-content: center;
    align-items: center;
}
:root{
    --background-color: #1A0B2E;
    --background-color-secondary:#230E3D;
    --font-primary-color: #ffffff;
    --font-color-secondary: #ffffff8f;
    --button-font-color: #fffffffb;
    --third-color: #00FF88;
    --btn-new-bacnd-color: #00FF88;
}
 /* all button design  */
.button_common{
    padding: 12px 16px;
    background: linear-gradient(30deg,#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
    color: var(--button-font-color);
    border-radius: 10000px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: transform 2s;
}
.button_common:hover{
    transform: scaleX(1.2);

    color: #F7E93F;
}

 .btn_two{
    background: transparent;
    border: 2px solid rgb(8, 182, 104);
    color: var(--third-color);
 }

 .badge{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 15px;
    color: #000000;
    font-size: 16px;
    background-color: var(--btn-new-bacnd-color);
    border: none;
    border-radius: 20px;
    transition: background-color 1s
 }

 .microphon:hover .badge{
    background-color: #FB09B4;
    color: #F7E93F;
 }
 

/* main design  */

nav {
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

nav h2{
    font-size: 3rem;
    color: var(--font-primary-color);
    font-weight: 800;
}
nav h2 .secondline_title, .secondline_footer_title{
   background: linear-gradient(30deg,#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav_list , .footer_list li{
    gap: 40px;
    list-style: none;
}
.nav_list li a, .footer_list li a{
    text-decoration: none;
    color: var(--font-color-secondary);
    font-size: 1rem;
    line-height: 120%;
    font-weight: 500;
    transition: color 1s;
}
.nav_list li a:hover, .footer_list li a:hover{
    text-decoration: solid white 1px;
    color: blue;
}

.hamburg_menu{
    display: none;
    color: #ffffff;
    cursor: pointer;

}

/* header box design  */

header{
    background-image: url(../assets/hero-bg.png);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 760px;
    flex-direction: column;
}
.header_box{
    margin: 100px auto 0 auto;
    flex-direction: column;
}

.microphon{
    background-image: url(../assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: min(350px, 90%);
    aspect-ratio: 1 / 1;
    margin: 0px auto 0;
    position: relative;
    border-radius: 50%;
    transition: transform 5s ease-in-out;
}

.microphon:hover {
    transform: rotate(360deg);
    color: #9100F8;
}

.microphon img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header_details{
    text-align: center;
}
.header_details h1{
    font-size: 60px;
    font-weight: 900;
    color: var(--font-primary-color);
    margin-top: 40px;
}
.header_details p{
    font-size: 16px;
    color: var(--font-color-secondary);
    margin-top: 10px;
}

.btns{
    gap: 30px;
    margin-top: 20px;
}
.btns button{
    align-items: center;
    gap: 2px;
}

/* podcast section  */

.podcast_details{
    text-align: center;
    margin-top: 50px;
}
.podcast_details h2{
    font-size: 48px;
    font-weight: bold;
    color: var(--font-primary-color);
    margin-bottom: 16px;
}
.podcast_details p{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 50px;
    padding: 0 50px;
    color: var(--font-color-secondary);
}

.podcast_items{
    justify-content: space-between;
    padding: 50px 80px;
}
.rating_box{
    text-align: center;
}
.rating_box h2{
    font-size: 48px;
    font-weight: bold;
    color: var(--third-color);
}
.rating_box p{
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
    color: var(--font-color-secondary);
}

/* why choice section design  */
.section_bg{
    background-color: var(--background-color-secondary);
     padding: 50px 0;
}
.choice_box{
    margin-top: 20px;
}
.why_choice_title{
    text-align: center;
    margin-top: 100px;
}
.why_choice_title h2{
    font-size: 48px;
    font-weight: bold;
    color: var(--font-primary-color);
}
.choice_grid_card{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    margin-top: 40px;
}
.card_grid{
    text-align: left;
    border-radius: 40px;
    background-color: #351165;
    padding: 40px;
    gap: 16px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.card_grid h3{
    font-size: 24px;
    font-weight: bold;
    color: var(--font-primary-color);
}
.card_grid p{
    font-size: 16px;
    color: var(--font-color-secondary);
}

.first_body{
    grid-column: span 1;
    grid-row: span 2;
}
.second_body{
    grid-column: span 2;
    grid-row: span 1;
}

/* episode box  */

.epsode_box{
    text-align: center;
    margin-top: 100px;
}
.epsode_box h2{
    font-size: 48px;
    font-weight: bold;
    color: var(--font-primary-color);
}

.epsode_card{
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.project{
    background-color: #351165;
    border-radius: 24px;
    text-align: left;
}
.project iframe{
    border-radius:20px ;
    border: 0;
    width: 100%;
    height: 250px;
}
.project .video_details{
    padding: 20px 20px;
    color: var(--font-color-secondary);
}
.project h3{
    font-size: 24px;
    font-weight: bold;
    color: var(--font-primary-color);
}
.project p{
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin: 15px 0;
}
.deuration_video{
    gap: 5px;
    align-items: center;
}
.deuration_video img{
    width: 25px;
    height: 25px;
}

/* host section design  */

.host_box {
    text-align: center;
    padding: 100px 0 ;
}
.host_box h2{
    font-size: 48px;
    font-weight: bold;
    color: var(--font-primary-color);
}
.host_details{
    gap: 50px;
    padding: 40px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-secondary);
}
.host_text{
    text-align: left;
}
.host_text h2{
    font-size: 32px;
    font-weight: bold;
    color: var(--font-primary-color);
}
.host_text p, .futer_info p{
    font-size: 16px;
    color: var(--font-color-secondary);
    margin: 16px auto;
    line-height: 24px;
}
.socal_conatc{
    gap: 30px;
}
.socal_conatc a {
    border: #F7E93F 1px solid;
    border-radius: 50%;
    padding: 10px;
}

.socal_conatc a img{
    width: 100%;
    height: 20px;
    margin: 10px;
    margin:  auto;
}

.footer_box{
    background-image: url(../assets/footer-bg.png);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 412px;
    display: flex;
}

.futer_info{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.futer_info h2{
    font-size: 4rem;
    color: var(--font-primary-color);
}
.footer_list{
    align-items: center;
    gap: 40px;
}
.footer_list li a{
    gap: 8px;
}

