*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter", sans-serif;
    background-color: var(--background-color);
    color: aliceblue;
}

/* comon design  */

.max-width{
    max-width: 1600px;
    margin: 0 auto;
    border: 1px solid red;
}
.second-max-width{
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid red;
}
.display-flix{
    display: flex;
}

.display-grid{
    display: grid;
}
:root{
    --background-color: #1A0B2E;
    --background-color-secondary:#230E3D;
    --font-primary-color: #ffffff;
    --font-color-secondary: #ffffff8f;
    --button-font-color: #fffffffb;
    --third-color: #00FF88;
    --btn-new-bacnd-color: #00FF88;
}

.button_common{
    padding: 12px 16px;
    background: linear-gradient(30deg,#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
    color: var(--button-font-color);
    border-radius: 10000px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
 /* all button design  */

 .btn_two{
    background: transparent;
    border: 2px solid rgb(8, 182, 104);
    color: var(--third-color);
 }

 .badge{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 15px;
    color: #000000;
    font-size: 16px;
    background-color: var(--btn-new-bacnd-color);
    border: none;
    border-radius: 20px;
 }

/* main design  */

nav {
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
}

nav h2{
    font-size: 3rem;
    color: var(--font-primary-color);
    font-weight: 800;
}
nav h2 .secondline_title{
   background: linear-gradient(30deg,#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav_list{
    gap: 50px;
    list-style: none;
}
.nav_list li a{
    text-decoration: none;
    color: var(--font-color-secondary);
    font-size: 1rem;
    line-height: 120%;
    font-weight: 500;
}

.nav_button{
 justify-content: center;  

}
.hamburg_menu{
    display: none;
}

/* header box design  */

header{
    background-image: url(../assets/hero-bg.png);
    height: 760px;
    flex-direction: column;
}
.header_box{
    margin: 100px auto 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.microphon{
    background-image: url(../assets/hero-circle.png);
    margin-top: 100px;
    width: 350px;
    height: 350px;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
}

.microphon img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header_details{
    text-align: center;
}
.header_details h1{
    font-size: 60px;
    font-weight: 900;
    color: var(--font-primary-color);
    margin-top: 40px;
}
.header_details p{
    font-size: 16px;
    color: var(--font-color-secondary);
    margin-top: 10px;
}

.btns{
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}
.btns button{
    align-items: center;
    gap: 2px;
}


/* podcast section  */

.podcast_details{
    text-align: center;
    margin-top: 50px;
}
.podcast_details h2{
    font-size: 48px;
    font-weight: bold;
    color: var(--font-primary-color);
    margin-bottom: 16px;
}
.podcast_details p{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 50px;
    padding: 0 50px;
}

.podcast_items{
    justify-content: space-between;
    padding: 50px 80px;
}
.rating_box{
    text-align: center;
}
.rating_box h2{
    font-size: 48px;
    font-weight: bold;
    color: var(--third-color);
}
.rating_box p{
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
    color: var(--third-color);
}

/* why choice section design  */
.section_bg{
    background-color: var(--background-color-secondary);
}
.why_choice_title{
    text-align: center;
    margin-top: 100px;
}
.why_choice_title h2{
    font-size: 48px;
    font-weight: bold;
}
.choice_grid_card{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}
.card_grid{
    border: #00FF88 2px solid;
    text-align: left;
    border-radius: 40px;
    background-color: #351165;
    padding: 40px;
    gap: 16px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.card_grid h3{
    font-size: 24px;
    font-weight: bold;
    color: var(--font-primary-color);
}
.card_grid p{
    font-size: 16px;
    color: var(--font-color-secondary);
}

.first_body{
    grid-column: span 1;
    grid-row: span 2;
}
.second_body{
    grid-column: span 2;
    grid-row: span 1;
}

/* episode box  */

.epsode_box{
    text-align: center;
    margin-top: 100px;
}
.epsode_box h2{
    font-size: 48px;
    font-weight: bold;
}

.epsode_card{
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.project{
    background-color: #351165;
    border-radius: 24px;
    text-align: left;
    /* padding: 20px; */
}
.project iframe{
    border-radius:20px ;
    width: 100%;
    height: 250px;
}
.project .video_details{
    padding: 20px 20px;
}
.project h3{
    font-size: 24px;
    font-weight: bold;
    color: var(--font-primary-color);
}
.project p{
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin: 15px 0;
}
.deuration_video{
    gap: 5px;
    align-items: center;
}
.deuration_video img{
    width: 25px;
    height: 25px;
}